.header_content_list {
  font-size: 18px;
  font-family: cursive;
}

.header_content_list_text_color {
  text-decoration: none;
  cursor: pointer;
}

.header_content_list_text_color:hover {
  color: #58a5f8; /* Color on hover */
  text-decoration: none;
}
