.sidebar_light {
  background-color: white; /* Set the desired background color */
  color: #ffffff; /* Set the desired text color */
}
.sidebar_dark {
  background-color: #1f2937;
  color: black;
}

.sidebar_light,
.sidebar_dark {
  height: 90vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.nav-link {
  color: inherit; 
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Optional hover effect */
}

.sidebar_tabs {
  color: black;
}

.sidebar_tab_select {
  color: white;
  background-color: black;
}
