.dashboard_cards {
  display: flex;
  justify-content: start;
  gap: 50px;
  margin-top: 50px;
}

.card {
  padding: 10px;
  padding-left: 20px;
  width: 23rem;
}

.card_dark {
  background-color: black;
  color: white;
  border: 0.5px solid rgb(40, 40, 40);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.card_upper {
  display: flex;
  justify-content: space-between;
}

.card_middle {
  font-weight: bold;
  margin-bottom: 0;
}

.card_footer {
  opacity: 1;
  color: grey;
}
