.light_theme {
  background-color: rgb(241, 241, 241);
  color: black;
  min-height: 100vh;
}

.dark_theme {
  background-color: #111827;
  color: white;
  min-height: 100vh;
}

/* Smooth transition for color and background change */
.light_theme,
.dark_theme {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text_light_theme {
  color: black;
}
.text_dark_theme {
  color: white;
}
