.light_theme {
  background-color: rgb(237 237 237);
  color: black;
  min-height: 100vh;
}

.dark_theme {
  background-color: #111827;
  color: white;
  min-height: 100vh;
  min-width: 700px;
}

/* Smooth transition for color and background change */
.light_theme,
.dark_theme {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.text_light_theme {
  color: black;
}
.text_dark_theme {
  color: white;
}

/* Make the header fixed without affecting current styles */
.fixed-header {
  position: fixed; /* Fix it at the top */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  z-index: 1000; /* Make sure it's above other elements */
  background-color: inherit; /* Use current background theme */
}

/* Prevent content overlap */
.light_theme,
.dark_theme {
  padding-top: 70px; /* Adjust content spacing based on header height */
}
